h1 {
  width: 65px;
  color: orangered;
  font-family: sans-serif;
  text-decoration: underline;
}
ul {
  background-color: palegreen;
  line-height: 30px;
}
.muda-cor {
  background-color: paleturquoise;
}
p {
  font-weight: 600px;
  font-size: 3em;
  text-align: center;
}
body {
  font-size: 16px;
  font-style: italic;
  background-color: rgb(202, 202, 236);
}
