body {
  margin: 15px;
}
h1 {
  font-size: x-large;
}
h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 15px 0;
}

.text {
  font-size: large;
}

@media (min-width:750px) {
  body {
    background-color:azure;
    max-width: 1280px;
    margin: 3%;
  }

  .text {
    font-size: 20px;
  }

  h1 {
    font-size: xxx-large;
  }
  
  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}