body {
  background-color:azure;
  position: relative;
}
header {
  text-align: center;
  color: #2c4a73;
}
nav {
  background-color: rgb(92, 135, 192);
  padding: 15px;
  font-size: 20px;
}
nav ul li {
  display: inline;
  margin-right: 10%;
  font-weight: 700;
}
a {
  text-decoration: none;
  color:black;
}
td {
  border: 1px darkblue solid;
  opacity: 75%;
}
article {
  width: 80%;
}
/* .teste {
    display: inline-block;
}
.table-vision {
    width: 50%;
} */
aside {
    float: right;
    width: 20%;
    background-color: rgb(92, 135, 192);
  }
footer {
  text-align: right;
  background-color:rgb(92, 135, 192) ;
  padding: 10px;
  color:black;
}