.super-mario {
  width: 200px;
  position: absolute;
  z-index: 1;
}

.goomba {
  width: 100px;
  position: absolute;
  z-index: 2;
  left: 100px;
  top: 350px;
}

.baloon {
  position: absolute;
  z-index:3 ;
  left: 200px;
}

.speach {
  font-size: 25px;
  position: absolute;
  z-index: 4;
  top: 120px;
  left: 220px;
}

.bowser {
  width: 200px;
  position: absolute;
  top: 200px;
  left: 500px;
}
